:root {
  --nav-color: #f0f0f0;
  --blue-color: #3683f0;
  --font-blue: #0029ff;

  --bg-color: #f5f5f5;
  --container-bg: #e9ecef;
  --card-color: #fdfdfd;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Popins", sans-serif;
}
ul {
  list-style-type: none;
}

nav {
  display: flex;
  width: 100vw;
  height: 50px;
  background: var(--nav-color);
  padding: 1rem 3rem;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav ul {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding-right: 1rem;
  margin: 0 2rem;
}
input{
  border: none;
   background: #FCFBFB;
   box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   height: 43px;
}
a{
  text-decoration: none;
  color: black;
}
.blue-circle {
  background-color: var(--blue-color);
  border-radius: 50%;
  padding: 5px;
}
.dots:after {
  content: "\2807";
  font-size: 30px;
  color: var(--blue-color);
}
main {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
}
/* sidebar */
sidebar {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
  padding: 1rem 0;
  height: 60vh;
  
 position: absolute;
  top: 70px;
  left: -300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
sidebar ul{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
  padding: 1rem 0;
  list-style-type: circle;
  list-style-position: inside;
  margin: 0 2rem;

}
sidebar .one{
  padding: 1rem;
  border: #0029ff 1px solid;
  border-radius: 10px;
  
  width: fit-content;
  position: relative;
  left: 300px;
  top: -2px;
  
}
.expand{
 left: 0px;
}
.hide{
  display: hidden;
}
.container {
  width: 100%;

  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.header h2 {
  color: var(--font-blue);

  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-align: left;
}
 button {
  background-color: var(--font-blue);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;

  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.explore {
  background: var(--container-bg);
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem 0;
}
.explore h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
}
.explore p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-family: Open Sans;

  background: var(--card-color);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}
 .card-header {
  display: flex;
  flex-direction: row;
  background: black;
  margin: -1rem;
  width: 105%;
  color: white;
  text-align: center;
  padding: 0.5rem;
  border-radius: 15px 15px 0 0;
}
.card-header h3 {
  text-align: center;
  width: 100%;

  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.card-header .tooltip {
  width: 30px;
  height: 30px;
  background: #edf0f3;
  color: black;
  font-size: large;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
 
  justify-content: start;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;

  padding: 3rem 0;
}
.thread-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 95%;
  background: rgba(254, 255, 192, 0.2);
border: 0.1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 1rem;
}
.thread-header h3{
  font-weight: 700;
font-size: 20px;
  line-height: 27px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.threads {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
  width: 100%;
  justify-content: space-around;
}
textarea {
  width: 95%;
  padding: 3px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  font-family: Open Sans;
  background: #ffff;
}
.sub-thread {
  background: rgba(0, 0, 0, 0.05);

  width: 100%;
  font-size: 12px;
  opacity: 0.5;
  border: 0.1px solid #333333;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.sub-thread h4 {
   
  padding: 0.5rem;
  color:#000;
  font-size: 12px;
  font-weight: 500;
}

.sub-area{
  display: flex;
justify-content: end;
  gap: 1rem;
  height: 30px;
   
}
.select{
  display: flex;
  width: 100%;
  font-size: 10px;
  justify-content: space-around;
  
}
.select .sub-select{
  display: flex;
  flex-direction: column;
  
  padding: 1rem;

}
.block{
  justify-self: start;
}

.card-body  h3 , input{
  width: 100%;
}
.content-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  
}
.content-header{
  display: flex;
  gap: 1rem;
   
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.content-header a{
  color:#616161 ;
}
.content-box .tools{
  display: flex;
  gap: 1rem;
  width: 100%;
}
.content-box .tools p{
  font-size: 12px;
  font-weight: 500;
  
  line-height: 18px;
  color: #616161;
  background: #EBEBEB;
  padding: 0.5rem;

}
.verticle{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}